body {
	font-family: Arial, sans-serif;
	background color: #f4f6f8;
	margin: 0;
	padding: 0;
}
header {
	background-color: #222;
	color: white;
	padding: 30px;
	text-align: conter;
}
main {
	padding: 3-px;
	max-width: 800px;
	margin: auto;
}
section {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
}
button {
	padding: 10px 15px;
	margin-right: 10px;
	font-size: 14px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}
resetGoalBtn {
	background-color: #e0e0e0;
}